
   body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.form-container {
  width: 400px;
  background-color: #a5bf37;
  padding: 10px 25px;
  margin: 30px auto;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
 form h2 {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  font-family: Georgia, serif; 
}
input,
textarea {
  width: 50%;
  padding: 5px;
  height: 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-family: Georgia, serif;
}

input::placeholder {
  font-style: italic;
  color: #888;
  font-family: Georgia, serif;
}

textarea {
  height: 20px;
  resize: none;
}

.section-box {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #dcdcdc;
  border-radius: 6px;
  padding: 8px 10px;
  margin-bottom: 2px;
}

.section-box label {
  font-size: 14px;
  font-weight: bold;
  color: #222;
  font-family: Georgia, serif; 
}

.card-type {
  display: flex;
  justify-content: start;
  gap: 16px;
  margin-top: 8px;
  flex-wrap: wrap;
}

.card-type label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  margin-left: 9px;
  margin-bottom: 1px;
}

button {
  width: 33%;
  margin-left: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #222;
}


